# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace
.eclipse/
.classpath
.project
.settings/
bin/

# Minecraft
runs/
logs/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Misc
*.jar
!gradle/wrapper/*.jar
nul
gradle-*.zip

# Local config
local.properties
